@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@900&display=swap");

/* :root {
  --primary-color: #011638   ;
  --secondary-color: #2e294e ;
  --accent1-color: #eceaed;
  --accent2-color: #d499b9;
  --accent3-color: #e8c1c5;

  --heading-font: "Source Sans Pro", Helvetica, sans-serif;
  --paragraph-font: Oswald, Helvetica, sans-serif;

  --headline-color-on-white: var(--primary-color);  
  --headline-color-on-color: var(--accent1-color); 
  --paragraph-color-on-white: var(--secondary-color); 
  --paragraph-color-on-color: var(--accent1-color); 
  --paragraph-background-color: var(--primary-color);  
} */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

header {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px;
  margin: 0 auto;
  background-color: crimson;
}
header a {
  color: #fff;
}
/* css in header */
.logo {
  grid-column: 1/5;
}
.list {
  padding-top: 1.5em;
  position: relative;
  grid-column: 5/7;
}
.list button {
  background-color: orange;
  padding: 0.5rem;
  border-radius: 20px;
}
.recipe-list-count {
  content: attr(value);
  font-size: 15px;
  color: black;
  background: #fff;
  border-radius: 50%;
  padding: 6px 10px;
  position: relative;
  left: -20px;
  top: -20px;
}

footer {
  padding: 1em;
}
a {
  text-decoration: none;
  color: darkorange;
}
img {
  width: 100%;
}

/* divider */
.divider {
  border-bottom: 4px double darkblue;
}

/* hero */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
    url("/images/banner.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  transform: translate(0%, 15%);
  color: white;
  height: 15rem;
  font-family: system-ui;
}
.hero-text h1 {
  margin-bottom: 0.5rem;
  text-shadow: 0 0 1rem black;
  font-weight: 900;
}
.hero-text p {
  margin-top: 0rem;
  text-shadow: 0 0 1rem black;
  font-size: 15px;
  font-weight: 900;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* search bar */
.search-container {
  margin: 1rem auto;
  text-align: center;
  display: inline-flex;
}
.search-container input {
  /* margin: auto; */
  margin: 0 0 0 -20px;
  padding: 0.5rem 1rem;
  width: 20rem;
  height: 5rem;
  font-size: 1.5rem;
  border-radius: 40px;
}
.search-container button {
  margin: auto;
  padding: 0.5rem 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  margin-left: -5rem;
  border-radius: 50%;
  border: none;
}
/*  */
.recipe-detail {
  border: solid black 1px;
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem;
}

/*  */
.search-recipe-list,
.collect-recipe-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* display: block; */
}
.recipe-card {
  border: orange solid 3px;
  /* width: 20rem; */
  margin: 0.5rem 1rem;
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 0px;
}
.recipe-card:hover,
.recipe-card:hover a {
  background-color: darkorange;
  color: #fff;
}
/*  */
.remove-item {
  background-color: #000;
  border: #000 2px solid;
  color: #fff;
  font-weight: bolder;
  border-radius: 15px;
  padding: 3px 6px;
}
.remove-item:hover {
  background-color: red;
  border: #fff 2px solid;
}
/* page ref */
.page-ref > div {
  padding: 0 0.5rem;
}
.page-ref > div:nth-child(2) {
  display: inline-flex;
}
.page-ref .current-page {
  background-color: darkorange;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
}
.page-ref button,
.recipe-detail__btn button {
  background-color: #fff;
  border: solid 2px darkorange;
  border-radius: 5px;
  color: darkorange;
  padding: 5px 10px;
}
.page-ref button:hover,
.recipe-detail__btn button:hover {
  background-color: darkorange;
  border: solid 2px darkorange;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}
